* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Container for all movie cardss */
.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 40px;
}

/* episode count in other to count the length of the episode */
/* #episode-count {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  
} */

.movie-card {
  width: 20%;
  height: 500px;
  background-color: #f1f1f1;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-card .title {
  height: 20%;
  background-color: #444;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.movie-card .image {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-card .image img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.movie-card .details {
  height: 40%;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: top;
  color: #333;
}
<<<<<<< HEAD
=======

#episode-select {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#search-input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
>>>>>>> dc4f093 (styled the functions)
